<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div class="error-box">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-stack">
    <div class="form-field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "field", placeholder: "Write a short, clear blog title" %>
    </div>

    <div class="button-row">
      <%= form.submit class: "button button-primary" %>
    </div>
  </div>
<% end %>
