<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="error-box">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-stack">
    <div class="form-field">
      <%= form.label :username %>
      <%= form.text_field :username, class: "field", placeholder: "Choose a username" %>
    </div>

    <div class="form-field">
      <%= form.label :password %>
      <%= form.password_field :password, class: "field", placeholder: "Enter a secure password" %>
    </div>

    <div class="form-field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "field", placeholder: "Repeat the password" %>
    </div>

    <div class="button-row">
      <%= form.submit class: "button button-primary" %>
    </div>
  </div>
<% end %>
