<section class="stack-lg">
  <%= render @user %>

  <div>
    <p class="chip">Published work</p>
    <h2 class="subheading">Blogs by <%= @user.username %></h2>
  </div>

  <% if @blogs.any? %>
    <div id="user_blogs" class="card-grid card-grid-two">
      <% @blogs.each do |blog| %>
        <div class="card-wrap">
          <%= render blog %>
          <%= link_to "Show this blog", blog, class: "card-link" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="panel">
      <p class="empty-state">This user has no blogs yet.</p>
    </div>
  <% end %>

  <div class="panel action-row">
    <%= link_to "Back to users", users_path, class: "button button-secondary" %>
  <% if current_user == @user %>
    <%= link_to "Edit this user", edit_user_path(@user), class: "button button-secondary" %>
    <%= button_to "Destroy this user", @user, method: :delete, class: "button button-primary", form_class: "inline-form" %>
  <% end %>
  </div>
</section>
